.venv/
__pycache__/
*.pyc
.DS_Store

storage/uploads/*
storage/results/*
storage/skills/*
uploads/submitted_skills/*
!storage/uploads/.gitkeep
!storage/results/.gitkeep
!storage/skills/.gitkeep
!storage/skills/skills.json
!uploads/submitted_skills/.gitkeep
